@page "/documentation/elements/title"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Title Size</label>
                            <BulInputSelectEnum @bind-Value="TitleSize" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Subtitle Size</label>
                            <BulInputSelectEnum @bind-Value="SubtitleSize" />
                        </div>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <BulTitle Size="TitleSize">
                Title
            </BulTitle>
            <BulSubtitle Size="SubtitleSize">
                Subtitle
            </BulSubtitle>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulTextSize TitleSize { get; set; } = BulTextSize.Default;
    public BulTextSize SubtitleSize { get; set; } = BulTextSize.Default;
}