@page "/documentation/components/breadcrumb"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Separator</label>
                            <BulInputSelectEnum @bind-Value="SeparatorType" />
                        </div>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <BulBreadcrumb Separator="SeparatorType">
                <BulBreadcrumbItem><a>Root</a></BulBreadcrumbItem>
                <BulBreadcrumbItem><a>Cool Place</a></BulBreadcrumbItem>
                <BulBreadcrumbItem><a>Details</a></BulBreadcrumbItem>
            </BulBreadcrumb>
        </ExampleResult>
    </ExampleBox>

</DocumentationRoot>

@code {
    public BulSeparator SeparatorType { get; set; } = BulSeparator.Default;
}