@page "/documentation/components/message"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Color</label>
                            <BulInputSelectEnum @bind-Value="Color" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Size</label>
                            <BulInputSelectEnum @bind-Value="Size" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="CloseButton">
                            Close Button
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="ShowHeader">
                            Show Header
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <BulMessage Color="Color" Size="Size">
                @if(ShowHeader)
                {
                    <BulMessageHeader>
                        Hello World
                        @if(CloseButton)
                        {
                            <BulDelete Size="Size" />
                        }
                    </BulMessageHeader>
                }

                <BulMessageBody>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque risus mi, 
                    tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet 
                    fringilla. Nullam gravida purus diam, et dictum felis venenatis efficitur. 
                    Aenean ac eleifend lacus, in mollis lectus. Donec sodales, arcu et 
                    sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a 
                    neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                </BulMessageBody>
            </BulMessage>

        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSchemeColor Color { get; set; } = BulSchemeColor.Default;
    public BulSize Size { get; set; } = BulSize.Default;
    public bool CloseButton { get; set; }
    public bool ShowHeader { get; set; } = true;
}