@page "/documentation/components/navbar"

<DocumentationRoot>
    <BulNotification Color="BulSchemeColor.Warning">
        Gotta fix burger button
    </BulNotification>

    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Color</label>
                            <BulInputSelectEnum @bind-Value="Color" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="HideDropdownArrow">
                            Hide Dropdown Arrow
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="BoxedDropdown">
                            Boxed Dropdown
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <BulNavbar Color="Color">
                <BulNavbarBrand>
                    <BulNavbarItemLink href="/">
                        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="Bulma">
                    </BulNavbarItemLink>

                    <BulNavbarBurger data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </BulNavbarBurger>
                </BulNavbarBrand>
                <BulNavbarMenu id="navbarBasicExample">
                    <BulNavbarStart>
                        <BulNavbarItem>
                            Basic Item
                        </BulNavbarItem>
                        <BulNavbarItemLink href="/documentation/components/navbar" Match="NavLinkMatch.Prefix">
                            Link Item
                        </BulNavbarItemLink>

                        <BulNavbarItem Dropdown="true" Hoverable="true">
                            <BulNavbarLink Arrowless="HideDropdownArrow">
                                Dropdown
                            </BulNavbarLink>
                            <BulNavbarDropdown Boxed="BoxedDropdown">
                                <BulNavbarItem>
                                    Item 1
                                </BulNavbarItem>
                                <BulNavbarItem>
                                    Item 2
                                </BulNavbarItem>
                                <BulNavbarItemLink href="/documentation">
                                    Item 3
                                </BulNavbarItemLink>
                                <BulNavbarDivider />
                                <BulNavbarItem>
                                    Divided Item 4
                                </BulNavbarItem>
                            </BulNavbarDropdown>
                        </BulNavbarItem>
                    </BulNavbarStart>

                    <BulNavbarEnd>
                        <div class="buttons">
                            <BulButton Color="BulSchemeColor.Success">Sign up</BulButton>
                            <BulButton>Log in</BulButton>
                        </div>
                    </BulNavbarEnd>
                </BulNavbarMenu>
            </BulNavbar>
        </ExampleResult>
    </ExampleBox>

</DocumentationRoot>

@code {
    public BulSchemeColor Color { get; set; } = BulSchemeColor.Default;
    private bool HideDropdownArrow { get; set; }
    private bool BoxedDropdown { get; set; }
}