@page "/documentation/components/navbar"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Color</label>
                            <BulInputSelectEnum @bind-Value="Color" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="HideDropdownArrow">
                            Hide Dropdown Arrow
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="BoxedDropdown">
                            Boxed Dropdown
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="DropdownUp">
                            Dropdown Up
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="DropdownRight">
                            Dropdown Right
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="IsTransparent">
                            Transparent
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="IsSpaced">
                            Is Spaced
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="HasShadow">
                            Has Shadow
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <BulNavbar Color="Color" Transparent="IsTransparent" Spaced="IsSpaced" Shadowed="HasShadow">
                <BulNavbarBrand>
                    <BulNavbarItem>
                        <a href="https://bulma.io/" target="_blank">
                            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28" alt="Bulma">
                        </a>
                    </BulNavbarItem>

                    <BulNavbarBurger Active="IsBurgerMenuActive" OnClick="OnToggleMenuActiveClickHandler" />
                </BulNavbarBrand>
                <BulNavbarMenu Active="IsBurgerMenuActive">
                    <BulNavbarStart>
                        <BulNavbarItem>
                            Basic Item
                        </BulNavbarItem>
                        <BulNavbarItemLink href="/documentation/components/navbar" Match="NavLinkMatch.Prefix">
                            Link Item
                        </BulNavbarItemLink>

                        <BulNavbarItem Dropdown="true" Hoverable="true" DropdownUp="DropdownUp">
                            <BulNavbarLink Arrowless="HideDropdownArrow">
                                Hoverable
                            </BulNavbarLink>
                            <BulNavbarDropdown Boxed="BoxedDropdown" Right="DropdownRight">
                                <BulNavbarItem>
                                    Item 1
                                </BulNavbarItem>
                                <BulNavbarItem>
                                    Item 2
                                </BulNavbarItem>
                                <BulNavbarItemLink href="/documentation">
                                    Item 3
                                </BulNavbarItemLink>
                                <BulNavbarDivider />
                                <BulNavbarItem>
                                    Divided Item 4
                                </BulNavbarItem>
                            </BulNavbarDropdown>
                        </BulNavbarItem>

                        <BulNavbarItem Active="DropdownIsActive" Dropdown="true" DropdownUp="DropdownUp">
                            <BulNavbarLink Arrowless="HideDropdownArrow" OnClick="OnDropdownToggleClickHandler">
                                Manual
                            </BulNavbarLink>
                            <BulNavbarDropdown Boxed="BoxedDropdown" Right="DropdownRight">
                                <BulNavbarItem>
                                    Long item to show how dropdown right looks
                                </BulNavbarItem>
                                <BulNavbarItem>
                                    Item 2
                                </BulNavbarItem>
                                <BulNavbarItemLink href="/documentation">
                                    Item 3
                                </BulNavbarItemLink>
                                <BulNavbarDivider />
                                <BulNavbarItem>
                                    Divided Item 4
                                </BulNavbarItem>
                            </BulNavbarDropdown>
                        </BulNavbarItem>
                    </BulNavbarStart>

                    <BulNavbarEnd>
                        <div class="buttons">
                            <BulButton Color="BulSchemeColor.Success">Sign up</BulButton>
                            <BulButton>Log in</BulButton>
                        </div>
                    </BulNavbarEnd>
                </BulNavbarMenu>
            </BulNavbar>
        </ExampleResult>
    </ExampleBox>

</DocumentationRoot>

@code {
    public BulSchemeColor Color { get; set; } = BulSchemeColor.Default;
    private bool HideDropdownArrow { get; set; }
    private bool BoxedDropdown { get; set; }
    private bool DropdownUp { get; set; }
    private bool DropdownRight { get; set; }
    private bool IsTransparent { get; set; }
    private bool IsSpaced { get; set; }
    private bool HasShadow { get; set; }
    private bool DropdownIsActive { get; set; }
    private bool IsBurgerMenuActive { get; set; }

    private void OnToggleMenuActiveClickHandler()
    {
        IsBurgerMenuActive = !IsBurgerMenuActive;
    }

    private void OnDropdownToggleClickHandler()
    {
        DropdownIsActive = !DropdownIsActive;
    }
}