@page "/documentation/components/pagination"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Size</label>
                            <BulInputSelectEnum @bind-Value="Size" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Centered">
                            Centered
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Rounded">
                            Rounded
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <BulPagination 
                PageCount="70" 
                CurrentPage="CurrentPage" 
                OnPageSelected="OnPageSelectedHandler" 
                Centered="Centered"
                Size="Size"
                Rounded="Rounded"
                />
                
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSize Size { get; set; } = BulSize.Default;
    private int CurrentPage { get; set; } = 15;
    private bool Centered { get; set; }
    private bool Rounded { get; set; }

    public void OnPageSelectedHandler(int pageNum)
    {
        CurrentPage = pageNum;
        StateHasChanged();
    }
}