@page "/documentation/extended/imageribbon"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <SchemeColorSelect Label="Color" @bind-Value="Color" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <RatioSelect @bind-Value="Ratio" Label="Ratio" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <label class="label">Focused Index</label>
                        <BulSlider @bind-Value="FocusedIndex" Min="0" Max="(DemoEntries.Length - 1)" Step="1" />
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <div>Selected: @FocusedIndex</div>
            <BulImageRibbon Color="Color" Ratio="Ratio" Images="DemoEntries" Focus="FocusedIndex" />
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSchemeColor? Color { get; set; }
    public BulRatio? Ratio { get; set; }
    public int FocusedIndex { get; set; } = 1;

    public Uri[] DemoEntries { get; set; } = new Uri[] {
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
        new Uri("https://bulma.io/images/placeholders/128x128.png"),
    };
}