<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
      <add key="defaultPushSource" value="%NUGET_CUSTOM_SOURCE%" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="stablecube" value="https://nuget.stablecube.com/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>