@namespace StableCube.Bulzor.Demo.Client

<div id="documentation-root">
    <BulBox>
        <div class="columns">
            <div class="column is-1">
                <BulMenu>
                    <BulMenuLabel>Components</BulMenuLabel>
                    <BulMenuList>
                       <BulMenuListItem>
                            <BulNavLink href="/documentation/components/breadcrumb" Match="NavLinkMatch.All">
                                Breadcrumb
                            </BulNavLink>
                        </BulMenuListItem>
                       <BulMenuListItem>
                            <BulNavLink href="/documentation/components/card" Match="NavLinkMatch.All">
                                Card
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/components/menu" Match="NavLinkMatch.All">
                                Menu
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/components/message" Match="NavLinkMatch.All">
                                Message
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/components/modal" Match="NavLinkMatch.All">
                                Modal
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/components/tabs" Match="NavLinkMatch.All">
                                Tabs
                            </BulNavLink>
                        </BulMenuListItem>
                    </BulMenuList>

                    <BulMenuLabel>Form</BulMenuLabel>
                    <BulMenuList>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/form/input" Match="NavLinkMatch.All">
                                Input
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/form/textarea" Match="NavLinkMatch.All">
                                TextArea
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/form/select" Match="NavLinkMatch.All">
                                Select
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/form/checkbox" Match="NavLinkMatch.All">
                                Checkbox
                            </BulNavLink>
                        </BulMenuListItem>
                    </BulMenuList>

                    <BulMenuLabel>Elements</BulMenuLabel>
                    <BulMenuList>
                       <BulMenuListItem>
                            <BulNavLink href="/documentation/elements/box" Match="NavLinkMatch.All">
                                Box
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/elements/button" Match="NavLinkMatch.All">
                                Button
                            </BulNavLink>
                        </BulMenuListItem>
                       <BulMenuListItem>
                            <BulNavLink href="/documentation/elements/content" Match="NavLinkMatch.All">
                                Content
                            </BulNavLink>
                        </BulMenuListItem>
                       <BulMenuListItem>
                            <BulNavLink href="/documentation/elements/delete" Match="NavLinkMatch.All">
                                Delete
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/elements/icon" Match="NavLinkMatch.All">
                                Icon
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/elements/notification" Match="NavLinkMatch.All">
                                Notification
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/elements/progress" Match="NavLinkMatch.All">
                                Progress Bars
                            </BulNavLink>
                        </BulMenuListItem>
                        <BulMenuListItem>
                            <BulNavLink href="/documentation/elements/tag" Match="NavLinkMatch.All">
                                Tag
                            </BulNavLink>
                        </BulMenuListItem>
                    </BulMenuList>
                </BulMenu>
            </div>

            <div class="column">
                <div class="section">
                    <div class="container">
                        @ChildContent
                    </div>
                </div>
            </div>
        </div>
    </BulBox>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
