@namespace StableCube.Bulzor.Demo.Client

@inherits LayoutComponentBase

<div class="bul-container">
    <div class="bul-nav-root">
        <NavMenu />
    </div>

    <div class="bul-body-root bul-section">
        @Body
    </div>
</div>
