@namespace StableCube.Bulzor.Demo.Client

<div class="bul-options-box" style="display: flex; flex-direction: row; flex-wrap: wrap;">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
