@page "/documentation/components/menu"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>

        </ExampleOptions>

        <ExampleResult>
            <BulMenu>
                <BulMenuLabel>Label</BulMenuLabel>
                <BulMenuList>
                    <BulMenuListItem>
                        <BulNavLink>Root Item</BulNavLink>
                        <ul>
                            <li><BulNavLink>Sub Item 1</BulNavLink></li>
                            <li><BulNavLink>Sub Item 2</BulNavLink></li>
                            <li><BulNavLink>Sub Item 3</BulNavLink></li>
                        </ul>
                    </BulMenuListItem>
                </BulMenuList>
            </BulMenu>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {

}