@page "/documentation/components/menu"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>

        </ExampleOptions>

        <ExampleResult>
            <BulMenu>
                <BulMenuLabel>Label</BulMenuLabel>
                <BulMenuList>
                    <BulMenuListItem>
                        <a>Root Item</a>
                        <ul>
                            <li><a>Sub Item 1</a></li>
                            <li><a>Sub Item 2</a></li>
                            <li><a>Sub Item 3</a></li>
                        </ul>
                    </BulMenuListItem>
                </BulMenuList>
            </BulMenu>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {

}