@namespace StableCube.Bulzor

<a class="card-footer-item" @onclick="@(async (args) => await ClickHandlerAsync(args))">
    @ChildContent
</a>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter] 
    public EventCallback<EventArgs> OnClick { get; set; }

    private async Task ClickHandlerAsync(EventArgs args)
    {
        await OnClick.InvokeAsync(args);
    }
}