@namespace StableCube.Bulzor

<div class="message-header">
  @ChildContent
  @if(Closeable)
  {
    <button class="delete" aria-label="delete"></button>
  }
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool Closeable { get; set; }
}