@page "/documentation/elements/button"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@Options">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <SchemeColorSelect Label="Color" @bind-Value="Options.Color" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <SizeSelect @bind-Value="Options.Size" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Options.Loading">
                            Loading
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Options.Active">
                            Active
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Options.Focused">
                            Focused
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Options.Hovered">
                            Hovered
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Options.Outlined">
                            Outlined
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Options.FullWidth">
                            Full Width
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Options.Inverted">
                            Inverted
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Options.Rounded">
                            Rounded
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <div>Click Count: @ClickCount</div>

            <BulButton 
                Color="Options.Color" 
                Size="Options.Size" 
                Loading="Options.Loading" 
                Active="Options.Active" 
                Focused="Options.Focused" 
                Hovered="Options.Hovered" 
                Outlined="Options.Outlined"
                FullWidth="Options.FullWidth"
                Inverted="Options.Inverted"
                Rounded="Options.Rounded"
                OnClick="OnButtonClickedHandler"
                >Button</BulButton>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    private bool PreventDefault { get; set; } = true;
    private int ClickCount { get; set; } = 0;

    ButtonOptions Options { get; set; } = new ButtonOptions();

    private void OnButtonClickedHandler(MouseEventArgs args)
    {
        ClickCount++;
        StateHasChanged();
    }
}
