@page "/documentation/elements/delete"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <SizeSelect @bind-Value="Size" />
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <div class="@BCss.Prefix("container")">
                <div>Click Count: @ClickCount</div>
                <BulDelete Size="Size" OnClick="OnClickedHandler"/>
            </div>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSize? Size { get; set; }
    private int ClickCount { get; set; }

    private void OnClickedHandler(MouseEventArgs args)
    {
        ClickCount++;
        StateHasChanged();
    }
}