@page "/documentation/elements/tag"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <SchemeColorSelect Label="Color" @bind-Value="Color" />
                    </OptionsBoxItem>
                    <OptionsBoxItem>
                        <SizeSelect Label="Size" @bind-Value="Size" />
                    </OptionsBoxItem>
                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Light">
                            Light
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Rounded">
                            Rounded
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <BulTag Color="Color" Size="Size" Light="Light" Rounded="Rounded">
                Tag label
            </BulTag>
        </ExampleResult>
    </ExampleBox>

    <section class="section">
        <div class="container">
            <BulTags>
                <BulTag>One</BulTag>
                <BulTag>Two</BulTag>
                <BulTag>Three</BulTag>
                <BulTag>Four</BulTag>
                <BulTag>Five</BulTag>
                <BulTag>Six</BulTag>
                <BulTag>Seven</BulTag>
                <BulTag>Eight</BulTag>
                <BulTag>Nine</BulTag>
                <BulTag>Ten</BulTag>
                <BulTag>Eleven</BulTag>
                <BulTag>Twelve</BulTag>
                <BulTag>Thirteen</BulTag>
                <BulTag>Fourteen</BulTag>
            </BulTags>
        </div>
        <div class="container">
            <BulTags HasAddons="true">
                <BulTag>Label</BulTag>
                <BulTag Color="BulSchemeColor.Primary">Tag</BulTag>
            </BulTags>
        </div>
    </section>

</DocumentationRoot>

@code {
    public BulSchemeColor? Color { get; set; }
    public BulSize? Size { get; set; }
    public bool Light { get; set; }
    public bool Rounded { get; set; }
}