@namespace StableCube.Bulzor.Demo.Server

<!DOCTYPE html>
<html data-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <base href="/" />
    <ResourcePreloader />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" rel="stylesheet"  type='text/css'>
    <link rel="stylesheet" href="@Assets["css/base.css"]"/>
    <link rel="stylesheet" href="@Assets["StableCube.Bulzor.Demo.Client.styles.css"]" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="InteractiveAuto" />

    <script src="@Assets["js/clientinterop.js"]"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
