@page "/fallback"
@namespace StableCube.Bulzor.Demo.Server
@using StableCube.Bulzor.Demo.Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Bulzor Components | Blending Blazor and Bulma</title>
    <base href="/" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet"  type='text/css'>
    <link href="css/base.css" rel="stylesheet" type="text/css"/>
    <link href="StableCube.Bulzor.Demo.Client.styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="app">
        <component type="typeof(App)" render-mode="WebAssemblyPrerendered" />
    </div>

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">X</a>
    </div>
    
    <script src="_content/StableCube.Bulzor.Components/js/interop.js"></script>
    <script src="_content/StableCube.Bulzor.Components.Extended/js/interop.js"></script>
    <script src="_content/StableCube.Bulzor.Components.MediaPlayer/js/interop.js"></script>
    <script src="_framework/blazor.webassembly.js"></script>

</body>

</html>
