@namespace StableCube.Bulzor

<span class="icon">
    <i class="fa fa-@Name @GetColorClass()"></i>
</span>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public BulmaColor Color { get; set; } = BulmaColor.Primary;

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }

    private string GetColorClass()
    {
        return BulmaClassHelper.ColorClass(Color);
    }
}