@page "/documentation/extended/dateinput"

<DocumentationRoot>
    <BulMessage>
        <BulMessageBody>
            Supports DateTime, DateTimeOffset and DateOnly.
        </BulMessageBody>
    </BulMessage>

    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Color</label>
                            <BulInputSelectEnum @bind-Value="Color" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Size</label>
                            <BulInputSelectEnum @bind-Value="Size" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="ShowYears">
                            Show Years
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="ShowMonths">
                            Show Months
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="ShowDays">
                            Show Days
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Rounded">
                            Rounded
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div>Value: @DemoDate</div>

                <div class="field">
                    <BulInputDate @bind-Value="DemoDate" 
                        Size="Size" 
                        Color="Color" 
                        Rounded="Rounded"
                        YearRange="YearRange"
                        ShowYears="ShowYears"
                        ShowMonths="ShowMonths"
                        ShowDays="ShowDays" />
                </div>

            </EditForm>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSchemeColor Color { get; set; } = BulSchemeColor.Default;
    public BulSize Size { get; set; } = BulSize.Default;
    public bool Rounded { get; set; }
    public bool ShowYears { get; set; } = true;
    public bool ShowMonths { get; set; } = true;
    public bool ShowDays { get; set; } = true;
    public Range YearRange { get; set; } = new Range(1970, DateTime.UtcNow.Year);
    private DateOnly DemoDate { get; set; } = new DateOnly(1982, 1, 25);
}