@page "/documentation/extended/divider"

<DocumentationRoot>
    <div class="section">
        Based off of the <a href="https://github.com/CreativeBulma/bulma-divider/">bulma-divider</a> plugin.
    </div>

    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Color</label>
                            <BulInputSelectEnum @bind-Value="Color" />
                        </div>
                    </OptionsBoxItem>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Position</label>
                            <BulInputSelectEnum @bind-Value="Position" />
                        </div>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <BulDivider Color="Color" Position="Position">
                Horizontal
            </BulDivider>

            <div style="display: flex;">
                <div style="flex: 1;height: 200px; background-color: #f4f5f8"></div>
                <BulDivider Color="Color" Position="Position" Vertical="true">
                    Vertical
                </BulDivider>
                <div style="flex: 1;height: 200px; background-color: #f4f5f8"></div>
            </div>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSchemeColor Color { get; set; } = BulSchemeColor.Default;
    public BulHorizontalPosition Position { get; set; } = BulHorizontalPosition.Default;
}