@page "/documentation/extended/slider"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Color</label>
                            <BulInputSelectEnum @bind-Value="Color" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Size</label>
                            <BulInputSelectEnum @bind-Value="Size" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <label class="label">Step</label>
                        <BulInputNumber Step="0.1" @bind-Value="DemoStep" />
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="FullWidth">
                            Full Width
                        </BulInputCheckbox>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Circle">
                            Circle
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div>Value: @DemoValue</div>
                <BulSlider @bind-Value="DemoValue"
                    Color="Color" 
                    Size="Size" 
                    FullWidth="FullWidth"
                    Circle="Circle"
                    Min="0" 
                    Max="100"
                    Step="DemoStep"
                     />
            </EditForm>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public double DemoValue { get; set; } = 25;
    public double DemoStep { get; set; } = 0.5;
    public BulSchemeColor Color { get; set; } = BulSchemeColor.Default;
    public BulSize Size { get; set; } = BulSize.Default;
    public bool FullWidth { get; set; }
    public bool Circle { get; set; }
}