@page "/documentation/extended/video-player"

<DocumentationRoot>
    <section class="content">
        <BulMessage Color="BulSchemeColor.Warning">
            <BulMessageBody>
                The video player is currently in a beta state and may change drastically between versions.
            </BulMessageBody>
        </BulMessage>
        <p class="mt-2 has-text-weight-semibold">
            The following components need to be imported for the player to work properly
        </p>
        <ul>
            <li>Progress Bar</li>
            <li>Slider</li>
            <li>Dropdown</li>
            <li>Button</li>
            <li>Icon</li>
            <li>Menu</li>
        </ul>

        <p class="mt-2 has-text-weight-semibold">
            ToDo
        </p>
        <ul>
            <li>HLS/DASH support using <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaSource" target="_blank">MediaSource</a></li>
            <li>Playlists</li>
            <li>Spritesheet support for scrubber preview images</li>
            <li>Subtitle support</li>
        </ul>
    </section>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Color</label>
                            <BulInputSelectEnum @bind-Value="Color" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Size</label>
                            <BulInputSelectEnum @bind-Value="Size" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Video</label>
                            <BulInputSelectEnum 
                                Value="CurrentlyPlaying"
                                ValueExpression="@( () => CurrentlyPlaying )"
                                ValueChanged="@((VideoSelection value) => CurrentlyPlayingChangedHandler(value))" />
                        </div>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <BulVideoPlayer Color="Color" Size="Size" Muted="true" Poster="CurrentlyPlayingPoster" Src="CurrentlyPlayingSrc">
                @* <BulMediaSource MediaUri="Nature720pMp4Uri" MediaType="video/mp4" />
                <BulMediaSource MediaUri="Nature360pMp4Uri" MediaType="video/mp4" /> *@
            </BulVideoPlayer>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSchemeColor Color { get; set; } = BulSchemeColor.Primary;
    public BulSize Size { get; set; } = BulSize.Default;
    private VideoSelection CurrentlyPlaying { get; set; } = VideoSelection.JapaneseGardens;
    private Uri CurrentlyPlayingSrc { get; set; } = Japanese720pUri;
    private Uri CurrentlyPlayingPoster { get; set; } = JapanesePosterUri;
    private enum VideoSelection
    {
        Nature,
        JapaneseGardens,
        ForgottenPlaces
    }

    private static Uri Nature720pHlsUri { get; set; } = new Uri("https://bbcdn.stablecube.com/file/sc-bulzor-demo/nature-720p.m3u8");
    private static Uri Nature360pHlsUri { get; set; } = new Uri("https://bbcdn.stablecube.com/file/sc-bulzor-demo/nature-360p.m3u8");
    private static Uri Nature720pMp4Uri { get; set; } = new Uri("https://bbcdn.stablecube.com/file/sc-bulzor-demo/nature-720p.mp4");
    private static Uri Nature360pMp4Uri { get; set; } = new Uri("https://bbcdn.stablecube.com/file/sc-bulzor-demo/nature-360p.mp4");
    private static Uri NaturePosterUri { get; set; } = new Uri("https://bbcdn.stablecube.com/file/sc-bulzor-demo/nature-poster.jpeg");
    
    private static Uri JapanesePosterUri { get; set; } = new Uri("https://bbcdn.stablecube.com/file/sc-bulzor-demo/japanese-gardens-poster.jpg");
    private static Uri Japanese720pUri { get; set; } = new Uri("https://bbcdn.stablecube.com/file/sc-bulzor-demo/japanese-gardens-720p.mp4");

    private static Uri ForgottenPosterUri { get; set; } = new Uri("https://bbcdn.stablecube.com/file/sc-bulzor-demo/abandoned-poster.jpg");
    private static Uri Forgotten720pUri { get; set; } = new Uri("https://bbcdn.stablecube.com/file/sc-bulzor-demo/abandoned-720p.mp4");

    private void CurrentlyPlayingChangedHandler(VideoSelection value)
    {
        CurrentlyPlaying = value;

        switch (value)
        {
            case VideoSelection.Nature:
                CurrentlyPlayingSrc = Nature720pMp4Uri;
                CurrentlyPlayingPoster = NaturePosterUri;
                break;
            case VideoSelection.ForgottenPlaces:
                CurrentlyPlayingSrc = Forgotten720pUri;
                CurrentlyPlayingPoster = ForgottenPosterUri;
                break;
            case VideoSelection.JapaneseGardens:
                CurrentlyPlayingSrc = Japanese720pUri;
                CurrentlyPlayingPoster = JapanesePosterUri;
                break;
        }
    }
}