@namespace StableCube.Bulzor.Components

<div class="@_class">
  @ChildContent
</div>

@code {
    [Parameter]
    public BulPrimaryColor? Color { get; set; }

    [Parameter]
    public BulSize? Size { get; set; }

    [Parameter]
    public bool? HasAddons { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private BulmaClassBuilder _classBuilder = new BulmaClassBuilder("tags");
    private string _class = String.Empty;

    protected override void OnParametersSet()
    {
        _classBuilder.SetPrimaryColor(Color);
        _classBuilder.SetSizeChild(Size);
        _classBuilder.SetHasAddons(HasAddons);
        _class = _classBuilder.ToString();

        StateHasChanged();
    }
}