$image-ribbon-border: $border !default;
$image-ribbon-border-active: $border-hover !default;

.image-ribbon {
  display: flex;
  align-items: flex-end;
}

.image-ribbon-item {
  visibility: collapse;
  border-bottom: 5px solid;
  border-color: $image-ribbon-border;
  width: 100%;

  &.is-active {
    visibility: visible;
  }

  &.is-focused {
    border-color: $image-ribbon-border-active;

    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      &.is-#{$name} {
        border-color: $color;
      }
    }
  }

  &.is-medium {
    width: 90%;
  }

  &.is-normal {
    width: 80%;
  }

  &.is-small {
    width: 70%;
  }
}

.image-ribbon-item-wrap {
  align-content: flex-end;
  display: flex;
}

// Fit image without distortion
.image-ribbon-item-wrap img {
  object-fit: contain;
  object-position: center bottom;
}
