$image-ribbon-border: $border !default;
$image-ribbon-border-active: $border-hover !default;

.image-ribbon {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  width: 100%;
}

.image-ribbon-item {
  align-self: flex-end;
  flex-direction: row;
  display: none;
  border-bottom: 5px solid;
  border-color: $image-ribbon-border;
  width: 100%;

  &.is-active {
    display: inline-block;
  }

  &.is-focused {
    border-color: $image-ribbon-border-active;

    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      &.is-#{$name} {
        border-color: $color;
      }
    }
  }

  &.is-medium {
    width: 90%;
  }

  &.is-small {
    width: 80%;
  }
}

.image-ribbon-item .image img {
  object-fit: contain;
  object-position: center bottom;
}