@namespace StableCube.Bulzor.Extended

<BulCard>
    <BulCardHeader>
        <a @onclick="@((args) => ToggleHandlerAsync())" class="card-header-title">
            @if(Expanded)
            {
                <BulIcon Name="angle-down" />
            }
            else
            {
                <BulIcon Name="angle-right" />
            }

            @ExpandableRowHeader
        </a>
    </BulCardHeader>

    @if(Expanded)
    {
        @if(ExpandableRowContent != null)
        {
            <BulCardContent>
                <div class="content">
                    @ExpandableRowContent
                </div>
            </BulCardContent>
        }

        @if(ExpandableRowFooter != null)
        {
            <BulCardFooter>
                @ExpandableRowFooter
            </BulCardFooter>
        }
    }
</BulCard>

@code {
    [Parameter]
    public RenderFragment ExpandableRowHeader { get; set; }

    [Parameter]
    public RenderFragment ExpandableRowContent { get; set; }

    [Parameter]
    public RenderFragment ExpandableRowFooter { get; set; }

    [Parameter]
    public bool Expanded { get; set; }

    [Parameter] 
    public EventCallback<bool> OnToggle { get; set; }

    protected override void OnParametersSet()
    {
        StateHasChanged();
    }

    private async Task ToggleHandlerAsync()
    {
        if(Expanded)
        {
            Expanded = false;
        }
        else
        {
            Expanded = true;
        }

        await OnToggle.InvokeAsync(Expanded);

        StateHasChanged();
    }
}