$image-ribbon-border: $border !default;
$image-ribbon-border-active: $border-hover !default;

.image-ribbon {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.image-ribbon-item {
  align-self: flex-end;
  display: none;
  border-bottom: 5px solid;
  border-color: $image-ribbon-border;
  height: 100%;

  &.is-active {
    display: block;
  }

  &.is-focused {
    border-color: $image-ribbon-border-active;

    @each $name, $pair in $colors {
      $color: nth($pair, 1);
      &.is-#{$name} {
        border-color: $color;
      }
    }
  }
}

.image-ribbon-thumb {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
}
