$timebar-size: 0.65rem !default;
$timebar-background-color: $grey !default;
$timebar-font-color: findColorInvert($timebar-background-color) !default;

.time-landmarks {
  font-size: $timebar-size;
  background: $timebar-background-color;
  color: $timebar-font-color;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  margin: 0;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    &.has-background-#{$name} {
      background: $color;
      color: findColorInvert($color);
    }
  }

  &.is-small {
    font-size: $timebar-size * 0.6;
  }
  &.is-medium {
    font-size: $timebar-size * 1.12;
  }
  &.is-large {
    font-size: $timebar-size * 1.24;
  }
}

.time-landmark {
  text-align: center;
  width: calc(100% / 3);
  padding: 0 0.25rem 0 0.25rem;
}

.time-landmark-start {
  text-align: left;
}

.time-landmark-end {
  text-align: right;
}
