@namespace StableCube.Bulzor.Extended

<div class="@_class"></div>

@code {
    [Parameter]
    public BulSize? Size { get; set; }

    [Parameter]
    public BulPrimaryColor? Color { get; set; }

    private BulmaClassBuilder _classBuilder = new BulmaClassBuilder("busy-spinner");
    private string _class = String.Empty;

    protected override void OnParametersSet()
    {
        _classBuilder.SetPrimaryColor(Color);
        _classBuilder.SetSize(Size);
        _class = _classBuilder.ToString();

        StateHasChanged();
    }
}