@page "/getting-started"

<BulTitle>Getting Started</BulTitle>

<p>
    The best way to get started using Bulzor is to look at the source code and the client/server demo (this site). 
    The source code for Bulzor and this site can be found on <a href="https://github.com/StableCube/Bulzor" target="_blank">Github</a>.
</p>