@page "/"
<p>
    Hello! This is a quick and dirty example of Bulzor components. For a prettier example of Bulma check out their homepage.
</p>

<BulTitle>What is Bulzor?</BulTitle>
<p>
    Bulzor is a component system for Blazor that uses the css 
    framework <a href="https://bulma.io">Bulma</a> as a base. One of the primary 
    goals is to only use Javascript where absolutely necessary. Bulma
    is a perfect framework in this regard as it is 100% css.
</p>
