@namespace StableCube.Bulzor.Demo.Client

<div>
    @if(ExampleOptions != null)
    {
    <div class="options-box">
        <BulTitle Size="BulTextSize.S4">Options</BulTitle>
        <hr />
        <BulNotification>
            @ExampleOptions
        </BulNotification>
    </div>
    }
    
    @if(ExampleResult != null)
    {
    <div>
        <BulTitle Size="BulTextSize.S4">Example</BulTitle>
        <hr />
        @ExampleResult
    </div>
    }

</div>

@code {
    [Parameter]
    public RenderFragment ExampleOptions { get; set; }

    [Parameter]
    public RenderFragment ExampleResult { get; set; }
}
