@namespace StableCube.Bulzor.Components

<article class="@_class">
    @if(MessageTitle != null)
    {
        <div class="message-header">
            @MessageTitle
            @if(ShowClose)
            {
                <button class="delete" aria-label="delete" @onclick="@(async (args) => await ClickedHandlerAsync(args))"></button>
            }
        </div>
    }

    @if(MessageBody != null)
    {
        <div class="message-body">
            @MessageBody
        </div>
    }
</article>

@code {
    [Parameter]
    public RenderFragment MessageTitle { get; set; }

    [Parameter]
    public RenderFragment MessageBody { get; set; }

    [Parameter]
    public bool ShowClose { get; set; } = true;

    [Parameter]
    public BulPrimaryColor? Color { get; set; }

    [Parameter]
    public EventCallback<EventArgs> OnCloseClick { get; set; }
    
    private BulmaClassBuilder _classBuilder = new BulmaClassBuilder("message");
    private string _class = String.Empty;

    protected override void OnParametersSet()
    {
        _classBuilder.SetPrimaryColor(Color);
        _class = _classBuilder.ToString();
    }

    public async Task ClickedHandlerAsync(EventArgs args)
    {
        await OnCloseClick.InvokeAsync(args);
    }
}