@namespace StableCube.Bulzor.Components

<a class="@_class" href="@Href">
    @ChildContent
</a>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public string Href { get; set; }

    [Parameter]
    public bool Active { get; set; }

    [Parameter]
    public bool IsArrowless { get; set; }

    private BulmaClassBuilder _classBuilder = new BulmaClassBuilder("navbar-link");
    private string _class = String.Empty;

    protected override void OnParametersSet()
    {
        _classBuilder.SetIsActive(Active);
        _classBuilder.SetIsArrowless(IsArrowless);
        _class = _classBuilder.ToString();

        UpdateState();
    }

    private void UpdateState()
    {
        StateHasChanged();
    }
}