@namespace StableCube.Bulzor.Components

<div class="@_class">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool HasDropdown { get; set; }

    [Parameter]
    public bool HasDropdownUp { get; set; }

    [Parameter]
    public bool IsHoverable { get; set; }

    private BulmaClassBuilder _classBuilder = new BulmaClassBuilder("navbar-item");
    private string _class = String.Empty;

    protected override void OnParametersSet()
    {
        _classBuilder.SetHasDropdown(HasDropdown);
        _classBuilder.SetHasDropdownUp(HasDropdownUp);
        _classBuilder.SetIsHoverable(IsHoverable);
        _class = _classBuilder.ToString();

        UpdateState();
    }

    private void UpdateState()
    {
        StateHasChanged();
    }
}