@namespace StableCube.Bulzor.Components

<p class="@_class">
  @ChildContent
</p>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    private BulmaClassBuilder _classBuilder = new BulmaClassBuilder("menu-label");
    private string _class = String.Empty;

    protected override void OnParametersSet()
    {
        _class = _classBuilder.ToString();

        StateHasChanged();
    }
}