@namespace StableCube.Bulzor

<div class="busy-spinner"></div>

@code {
    [Parameter]
    public int Size { get; set; }

    [Parameter]
    public int Width { get; set; }

    [Parameter]
    public string Color { get; set; }

    [Parameter]
    public string BgColor { get; set; }
}