@namespace StableCube.Bulzor

<span class="@_class">@ChildContent</span>

@code {
    [Parameter]
    public BulPrimaryColor? Color { get; set; }

    [Parameter]
    public BulSize? Size { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private BulmaClassBuilder _classBuilder = new BulmaClassBuilder("tag");
    private string _class = String.Empty;

    protected override void OnParametersSet()
    {
        _classBuilder.SetPrimaryColor(Color);
        _classBuilder.SetSize(Size);
        _class = _classBuilder.ToString();

        StateHasChanged();
    }
}