$bul-dateinput-day-width: 5rem !default;
$bul-dateinput-month-width: 5rem !default;
$bul-dateinput-year-width: 6rem !default;

.bul-dateonly-input .control {
  margin-right: 0 !important;
}

.bul-dateinput-day input {
  width: $bul-dateinput-day-width !important;

  &.is-small {
    width: $bul-dateinput-day-width - 1.5 !important;
  }
  &.is-medium {
    $size: $bul-dateinput-day-width !important;
  }
  &.is-large {
    width: $bul-dateinput-day-width + 2 !important;
  }
}

.bul-dateinput-month input {
  width: $bul-dateinput-month-width !important;

  &.is-small {
    width: $bul-dateinput-month-width - 1.5 !important;
  }
  &.is-medium {
    $size: $bul-dateinput-month-width !important;
  }
  &.is-large {
    width: $bul-dateinput-month-width + 2 !important;
  }
}

.bul-dateinput-year input {
  width: $bul-dateinput-year-width !important;

  &.is-small {
    width: $bul-dateinput-year-width - 1.5 !important;
  }
  &.is-medium {
    $size: $bul-dateinput-year-width !important;
  }
  &.is-large {
    width: $bul-dateinput-year-width + 2 !important;
  }
}