@page "/documentation/form/textarea"

<DocumentationRoot>
    <EditForm Model="@Data">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div style="max-width: 50%;">
            <BulInputTextArea @bind-Value="Data.StringData" Loading="true" />
        </div>
    </EditForm>
</DocumentationRoot>

@code {
    DemoDataModel Data = new DemoDataModel() {
        StringData = "hmmmmm",
    };
}