@page "/"

<BulTitle>What is Bulzor?</BulTitle>
<p>
    Bulzor is a component system for Blazor that uses the css 
    framework <a href="https://bulma.io">Bulma</a> as a base. One of the primary 
    goals is to only use Javascript where absolutely necessary. Bulma
    is a perfect framework in this regard as it is 100% css.
</p>