@page "/documentation/elements/delete"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Size</label>
                            <BulInputSelectEnum @bind-Value="Size" />
                        </div>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <div class=""container">
                <div>Click Count: @ClickCount</div>
                <BulDelete Size="Size" OnClick="OnClickedHandler"/>
            </div>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSize Size { get; set; } = BulSize.Default;
    private int ClickCount { get; set; }

    private void OnClickedHandler(MouseEventArgs args)
    {
        ClickCount++;
        StateHasChanged();
    }
}