@page "/documentation/elements/image"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Ratio</label>
                            <BulInputSelectEnum @bind-Value="Ratio" />
                        </div>
                    </OptionsBoxItem>

                    <OptionsBoxItem>
                        <div class="control">
                            <label class="label">Ratio</label>
                            <BulInputSelectEnum @bind-Value="Dimension" />
                        </div>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <BulImage Ratio="Ratio" Dimension="Dimension">
                <img src="https://bulma.io/images/placeholders/128x128.png">
            </BulImage>
        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulRatio Ratio { get; set; } = BulRatio.Default;
    public BulDimension Dimension { get; set; } = BulDimension.Default;
}