@page "/documentation/elements/tag"

<DocumentationRoot>
    <ExampleBox>
        <ExampleOptions>
            <EditForm Model="@this">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <OptionsBox>
                    <OptionsBoxItem>
                        <SchemeColorSelect Label="Color" @bind-Value="Color" />
                    </OptionsBoxItem>
                    <OptionsBoxItem>
                        <SizeSelect Label="Size" @bind-Value="Size" />
                    </OptionsBoxItem>
                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Light">
                            Light
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                    <OptionsBoxItem>
                        <BulInputCheckbox @bind-Value="Rounded">
                            Rounded
                        </BulInputCheckbox>
                    </OptionsBoxItem>
                </OptionsBox>
            </EditForm>
        </ExampleOptions>

        <ExampleResult>
            <section class="section">
                <div class="tag-block">
                    <BulTag Color="Color" Size="Size" Light="Light" Rounded="Rounded">
                        Basic Tag
                    </BulTag>
                </div>

                <div class="tag-block">
                    <BulTags>
                        <BulTag Color="Color" Size="Size" Light="Light" Rounded="Rounded">Tag List One</BulTag>
                        <BulTag Color="Color" Size="Size" Light="Light" Rounded="Rounded">Tag List Two</BulTag>
                        <BulTag Color="Color" Size="Size" Light="Light" Rounded="Rounded">Tag List Three</BulTag>
                        <BulTag Color="Color" Size="Size" Light="Light" Rounded="Rounded">Tag List Four</BulTag>
                        <BulTag Color="Color" Size="Size" Light="Light" Rounded="Rounded">Tag List Five</BulTag>
                    </BulTags>
                </div>
                
                <div class="tag-block">
                    <BulTags HasAddons="true">
                        <BulTag Color="Color" Size="Size" Light="Light" Rounded="Rounded">With Label</BulTag>
                        <BulTag Size="Size" Light="Light" Rounded="Rounded" Color="BulSchemeColor.Primary">The Label</BulTag>
                    </BulTags>
                </div>

                <div class="tag-block">
                    <div>Click Count: @ClickCount</div>
                    <BulTags HasAddons="true">
                        <BulTag Color="Color" Size="Size" Light="Light" Rounded="Rounded">With Delete</BulTag>
                        <BulTagDelete Size="Size" Light="Light" Rounded="Rounded" Color="BulSchemeColor.Primary" OnClick="TagDeleteClickHandler" />
                    </BulTags>
                </div
            </section>

        </ExampleResult>
    </ExampleBox>
</DocumentationRoot>

@code {
    public BulSchemeColor? Color { get; set; }
    public BulSize? Size { get; set; }
    public bool Light { get; set; }
    public bool Rounded { get; set; }
    public int ClickCount { get; set; }

    private void TagDeleteClickHandler(MouseEventArgs args)
    {
        ClickCount++;
    }
}